#venn {
    margin-left: 250px;
    margin-top: -200px;
}

.venntooltip{
    position:absolute;
    text-align: left;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
}