#original {
    margin-left: 5%;
}

.venntooltip{
    position:absolute;
    text-align: left;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
}

#links_information{
    min-width: 20%;
    min-height: 20%;
    position: absolute;
    top:10%;
    right: 20%;
    display: none;
}

#links_information span{
    font-size: 1.8em;
    cursor: pointer;
    margin-left: 0.5%;
    padding:5px;
}

table {
    border-collapse: collapse;
    border-radius: 8px;
    background-color: #f7dc6f;
}
  
th{
    border-bottom: 1px solid black;
    min-width: 5%;
    text-align: center;
}

td{
    text-align: center;
}
